<mat-card style="width: 35em;">
    <mat-card-title>Join Us!</mat-card-title>
    <hr>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput >
            </mat-form-field>
            <button type="submit" mat-raised-button>Sign Up</button>
        </form>
    </mat-card-content>
</mat-card>
