<body>
    <div class="bg-img">
            <div class="col-md-6">
                <section class="container flex-center">
                    <h2>Welcome to our Travel blog</h2>
                    <p>
                        Here you can share your travel experiences and interact with others too
                    </p>
                </section>
            </div>
            <div class="col-md-6 col-xl-5 offset-x-1">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Join Us!</h5>
                        <form>
                            <label for="name"></label>
                            <input type="text" placeholder="your name">
                            
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
      

</body>

