body{
    height: 100%;
}
.bg-img{
    min-height: 100vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1519451241324-20b4ea2c4220?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

section{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-left:15em;
    margin-top: 11em;
}

mat-card{
    background-color: transparent;
    margin-top: 11rem;
}
mat-card-title{
    font-size: 1.8em;
    text-align: center;
    color: rgb(56, 82, 59);
}
mat-form-field{
    width: 30em;
}

mat-label{
    color: white;
    font-size: 18px;
}

input{
    color: white;
    padding: 6px;
    font-size: 18px;
}
button{
    background: rgb(72, 102, 75);
    color: white;
    width: 5.5em;
    height: 2.5em;
    font-size: 17px;
    margin:0 10em 0 10em;
}
button:hover{
    background:  rgb(56, 82, 59);
    color: white;
}

