<body>
    <div class="bg-img">
                <div class="container">
                    <div class="col-xs-12">
                        <section>
                            <h1><strong>Welcome to Travel Diaries</strong> </h1>
                            <p>
                                Here you can post your travel experiences and read others too
                            </p>
                            <br>
                            <button type="button" mat-raised-button>Join US</button>
                            <p>to create posts, like and comment</p>
                        </section>   
                    </div>
                </div>
    </div>
    <app-posts></app-posts>

</body>

